﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TeacherManagmentSystem</title>
    <link rel="stylesheet" href="~/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/DataTables/datatables.css">
    <link rel="stylesheet" href="~/DataTables/tablestyle.css">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon w-icon"><i class="fas fa-graduation-cap"></i></span>
                        <span class="title"><h2>UHST</h2></span>
                    </a>
                </li>
                <li>
                    <a asp-arear="" asp-controller="Home" asp-action="dashboad">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="title">Dashboad</span>
                    </a>
                </li>
                <li>
                    <a asp-arear="" asp-controller="teacher" asp-action="ViewTeacher">
                        <span class="icon"><i class="fas fa-user-graduate"></i></span>
                        <span class="title">Manage Teacher</span>
                    </a>
                </li>
                <li>
                    <a asp-arear="" asp-controller="famillies" asp-action="viewFamilies">
                        <span class="icon"><i class="fas fa-users"></i></span>
                        <span class="title">Manage Families</span>
                    </a>
                </li>
                <li>
                    <a asp-arear="" asp-controller="Addressing" asp-action="viewAddressing">
                        <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                        <span class="title">Manage Address</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-circle"></i></span>
                        <span class="title">Profile</span>
                    </a>
                </li>
                 <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-question-circle"></i></span>
                        <span class="title">Help</span>
                    </a>
                </li>
                <li>
                    <a asp-arear="" asp-controller="Home" asp-action="LogOut" >
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
    </div>
    <div class="main">
        <div class="topbar sticky-top">
            <div class="toggle" onclick="toggleMenu();"><i class="fas fa-bars"></i></div>
           
            <div class="user">
               
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/DataTables/datatables.js"></script>
    <script src="~/sweetAlert/sweetalert.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
