body{
    font-family: 'raleway','sans-serif';
    background-color: #f9f9f9;
}
.p-30{
    padding: 30px;
}
.main-datatable{
    padding: 0;
    border: 1px solid #f3f2f2;
    border-bottom: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_body{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.main-datatable .row{
    margin: 0;
}
.searchinput{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
    margin: 20px 0px;
    padding: 0px 4px;
}
.searchinput input{
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    margin-left: 8px;
    height: 34px;
    width: 100%;
    padding: 0px 25px 0px 10px;
    transition: all .6s ease;
}
.searchinput label{
    color: #767676;
    font-weight: normal;
}
.searchinput input::placeholder-shown{
    width: 13%;
}
.searchinput:hover input::placeholder-shown{
    width: 100%;
    cursor: pointer;
}
.searchinput::after{
    font-family: 'FontAwesome';
    color: #d4d4d4;
    position: relative;
    right: 25px;
}

.dim_button{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    background-color: rgb(57,85,136);
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 20px;
}
.text-list{
    padding: 20px;
    font-size: 20px;
}
.text-list h3{
    font-size: 22px;
}
.add_flex{
    display:  flex;
    justify-content:flex-end;
    padding-right: 0px;
}
.main-datatable .datatable.no-footer{
    border-bottom: 1px solid #eee;
}
.main-datatable .cust-datatable thead{
    background-color: #f9f9f9;
}
.main-datatable .cust-datatable>thead>tr>th{
    border-bottom-width: 0;
    color: #443f3f;
    font-weight: 600;
    padding: 16px 15px;
    vertical-align: middle;
    padding-left: 18px;
    text-align: center;
}
.main-datatable .cust-datatable>tbody td{
    padding: 10px 15px 10px 18px;
    color: #333333;
    font-size: 13px;
    word-break: break-word;
    border-color: #eee;
    vertical-align: middle;
    text-align: center;
}
.main-datatable .cust-datatable>tbody tr{
    border-top: none;
}
.main-datatable .table > tbody >tr:nth-child(even){
    background-color: #f9f9f9;
}
/*=====paging======*/
.main-datatable .dataTables_wrapper .dataTables_paginate .paginate_button{
    color: #12e4d9 !important;
    background-color: #f6f6f6 !important;
    border-color: #d4d4d4 !important;
    border-radius: 40px;
    margin: 5px 3px;
}
.main-datatable .dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
   color: rgb(231, 231, 236) !important;
   border: 1px solid #3d96f5 !important;
   background-color: #b61bf3 !important;
   box-shadow:none;
}
.main-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.main-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
   color: rgb(234, 230, 236) !important;
   border: transparent !important;
   background: #007bff !important;
}
.main-datatable .dataTables_paginate{
    padding-top: 0 !important;
    margin: 15px 10px;
    float: right !important;
}
