@{
    ViewData["Title"]="View Teacher page";
}
            <section class="bg-white m-4">
                <form class="needs-validation form-custom p-5" novalidate>
                   <div class="row">
                       <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">name khmer</label>
                                <input id="txtname_kh" type="text" class="form-control" placeholder="enter name khmer" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">name enlish</label>
                                <input id="txtname_en" type="text" class="form-control" placeholder="enter name english" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">gender</label>
                                <select name="" id="txtgender" class="form-control" required>
                                    <option value="" optoin:selected disabled>--select your gender---</option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">date of birth</label>
                                <input id="txtdate" type="date" class="form-control" placeholder="enter name khmer" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            
                            <!------------------------------------------------------------------------------>
                            <div >
                                <div class="form-group">
                                    <label for="">status</label>
                                    <select name="" id="txtstatus" class="form-control" required>
                                        <option value="" option:selected disabled>--select your status--</option>
                                    </select>
                                    <div class="valid-feedback">valid</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="form-group">
                                    <label for="">nationality ID card</label>
                                    <input id="txtid_card" type="text" class="form-control" placeholder="enter name khmer" required>
                                    <div class="valid-feedback">valid</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="form-group">
                                    <label for="">degree</label>
                                    <select name="" id="txtdegree" class="form-control" required>
                                       <option value="" option:selected disabled>--select your degree--</option>
                                    </select>
                                    <div class="valid-feedback">valid</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                               
                            </div>
                            
                       </div>
                       <!---------------------------------------------------------------------------------------->
                       <div class="col-lg-6">
                       <div >
                            <div class="form-group">
                                <label for="">major</label>
                                <select name="" id="txtmajor" class="form-control" required>
                                    <option value="" option:selected disabled>--select your major--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">father name</label>
                                <input id="txtfathername" type="text" class="form-control" placeholder="enter name father" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">mother name</label>
                                <input id="txtmathername" type="text" class="form-control" placeholder="enter name mother" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">phone number</label>
                                <input id="txtmobile" type="text" class="form-control" placeholder="enter phone number" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            
                       </div>
                       <!---------------------------------------------------------------------------->
                    <div class="" ">
                        <div class="form-group">
                            <label for="">register date</label>
                            <input id="txtregister_date" type="date" class="form-control" placeholder="enter name khmer" required>
                            <div class="valid-feedback">valid</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <div class="t-img">
                                <img src="~/img/L02.jpg" id="get_img" alt="">
                            </div>
                            <label for="txt_img" class="label-uplod-img"><i class="fas fa-camera text-center"></i> upload</label>
                            <input type="file" class="form-control d-none" id="txt_img" placeholder="enter name english">
                            <div class="valid-feedback">valid</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        
                        
                    </div>
                       <!---------------------------------------------------------------------------->
                        
                    </div>
                    <button type="button" class="btn btn-warning ml-auto" onclick="clearText();">clear</button>
                    <button type="submit" class="btn btn-primary mx-3" id="btn-save-teacher">Save</button>
                   </div>
                   
                </form>
            </section>

<div class=" p-30">
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <div class="row d-flex">
                        <div class="text-list"><h3>List of teacher</h3></div>
                        <div class="col-sm-8 add_flex">
                            <div class="form-group searchinput">
                                <label for="email">Search</label>
                                <input type="search" class="form-control" id="filterbox" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overflow-x table-responsive">
                    <table style="width: 100%;" id="filtertable" class="table norwap cust-datatable datatable no-footer">
                        <thead >
                           
                            <tr>
                                <th style="min-width: 50px;" class="d-none">Image</th>
                                <th style="min-width: 50px;">Action</th>
                                <th style="min-width: 50px;">Name</th>
                                <th style="min-width: 50px;">name english</th>
                                <th style="min-width: 50px;">gender</th>
                                <th style="min-width: 50px;">DOB</th>
                                <th style="min-width: 50px;" class="d-none">Status</th>
                                <th style="min-width: 50px;" class="d-none">ID Card</th>
                                <th style="min-width: 50px;">Degree</th>
                                <th style="min-width: 50px;">Major</th>
                                <th style="min-width: 50px;" class="d-none">father</th>
                                <th style="min-width: 50px;" class="d-none">mother</th>
                                <th style="min-width: 50px;">Mobile</th>
                                <th style="min-width: 50px;">Register date</th>
                                <th style="min-width: 50px;" class="d-none">Degreeid</th>
                                <th style="min-width: 50px;" class="d-none">Degreeid</th>
                                <th style="min-width: 50px;" class="d-none">Degreeid</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var datatable;
    var obj_list_teacher=[];
    //-----------------function clear data------------//
    function clearText() {
        $('.form-control').val('');
        $('#get_img').attr('src', '');
        id_teacher=0;
    }
    $(document).ready(function () {
    
    datatable = $('#filtertable').DataTable({
          data:obj_list_teacher,
          columns:
          [
            {
                'sort': false,
                className: 'd-none',
                data: 'img', autoWidth: true
            },

            {
                data:'teacher_id',autoWidth:true,
                'render':function(data)
                {
                    return '<button type="button" class="btn btn-outline-danger btn-sm" onclick=deleted('+data+')> <i class="fas fa-trash"></i></button> <button type="button" class="btn btn-outline-primary btn-sm" id="btnEdit"> <i class="fas fa-edit"></i></button>';
                }
            },
            {data:'name_kh',autoWidth:true},
            {
                className: 'd-none',
                data:'name_en',autoWidth:true},
            {data:'gender',autoWidth:true,
                'sort':false,
                'searching':false
            },
            {data:'dob_str',autoWidth:true},
            {
                className: 'd-none',
                data:'status_id',autoWidth:true
            },
            {
                className: 'd-none',
                data:'id_cad',autoWidth:true
            },
            {data:'degree_kh',autoWidth:true},
            {data:'major_kh',autoWidth:true},
            {
                'sort': false,
                className: 'd-none',
                data:'father_name',autoWidth:true},
            {
                'sort':false,
                className: 'd-none',
                data:'mother_name',autoWidth:true},
            {data:'mobile',autoWidth:true},
            {data:'re_date_str',autoWidth:true},
            {
                'className':'d-none',
                data:'degree_id',autoWidth:true},
            {   
                'className': 'd-none',
                data:'major_id',autoWidth:true},
            {
                'className': 'd-none',
                data: 'teacher_id', autoWidth: true
            },
          ],
          'dom':'<"top">ct<"top"p><"clear">'
    });

  
    if('@ViewBag.errCode'<0) alert('@ViewBag.errMsg');

     $('#filterbox').keyup(function(){
         datatable.search(this.value).draw();  
    })
    //================declear variable================//
    var obj_teacher={};
    var id_teacher=0;
    var img;
    ///----------image upload--------------------------.//
    $('#txt_img').change(function(){
        readImage(this);
    })
    function readImage(input)
    {
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload=function(e){
                img=e.target.result;
                $('#get_img').attr('src',img);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    ///---------------call function clear text
    clearText();
    loadData();
    //===save data to database =====//
     var forms = document.getElementsByClassName('needs-validation');
     var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
            }
            else {
                event.preventDefault();
                obj_teacher = {};
                obj_teacher.teacher_id=id_teacher;
                obj_teacher.name_kh = $('#txtname_kh').val();
                obj_teacher.name_en = $('#txtname_en').val();
                obj_teacher.gender = $('#txtgender').val();
                obj_teacher.dob = $('#txtdate').val();
                obj_teacher.status_id = $('#txtstatus').val();
                obj_teacher.id_cad = $('#txtid_card').val();
                obj_teacher.degree_id = $('#txtdegree').val();
                obj_teacher.major_id = $('#txtmajor').val();
                obj_teacher.father_name = $('#txtfathername').val();
                obj_teacher.mother_name = $('#txtmathername').val();
                obj_teacher.mobile = $('#txtmobile').val();
                obj_teacher.register_date = $('#txtregister_date').val();
                if (img != null) {
                    var imgs = img.split(",");
                    obj_teacher.img_type = imgs[0];
                    obj_teacher.img = imgs[1];
                }
                if (id_teacher == 0) {
                    //insert 
                    $.ajax({
                        url: '@Url.Action("PostTeacher","teacher")',
                        type: 'POST',
                        dataType: 'JSON',
                        data: { get_teacher_obj: obj_teacher },
                        success: function (data) {
                            if (data.errCode == 1)
                            {
                                swal("sucessed!",data.errMessage +'Thank you..!',"success");
                                loadData();
                            }
                            else
                            {
                                swal("Error..!",data.errMessage, "error");
                            }

                        }
                    })

                }
                else {
                    //update
                    //alert(id_teacher);
                    $.ajax({
                        url: '@Url.Action("UpdateTeacher","teacher")',
                        type: 'POST',
                        dataType: 'JSON',
                        data: { obj_teacher: obj_teacher },
                        success: function (data) {
                            if (data.errCode == 1)
                            {
                                swal("sucessed!",data.errMessage +'Thank you..!',"success");
                                    loadData();
                                }
                                    else
                                {
                                    swal("Error..!",data.errMessage, "error");
                                }

                            }
                        })
                    //////----------//
                    id_teacher = 0;
                }
            }
            form.classList.add('was-validated');
        }, false);
    });

    //---select data---------------------------------//
    $('.table tbody').on('click','#btnEdit',function(){
        var index = $(this).closest('tr');
        img = index.find('td:eq(0)').text();
        $('#get_img').attr("src", img);
        id_teacher = index.find('td:eq(1)').text();
        $('#txtname_kh').val(index.find('td:eq(2)').text());
        $('#txtname_en').val(index.find('td:eq(3)').text());
        $('#txtgender').val(index.find('td:eq(4)').text());
        $('#txtdate').val(index.find('td:eq(5)').text());
        $('#txtstatus').val(index.find('td:eq(6)').text());
        $('#txtid_card').val(index.find('td:eq(7)').text());
        $('#txtfathername').val(index.find('td:eq(10)').text());
        $('#txtmathername').val(index.find('td:eq(11)').text());
        $('#txtmobile').val(index.find('td:eq(12)').text());
        $('#txtregister_date').val(index.find('td:eq(13)').text());
        $('#txtdegree').val(index.find('td:eq(14)').text());
        $('#txtmajor').val(index.find('td:eq(15)').text());
        id_teacher= index.find('td:eq(16)').text();
        //alert(id_teacher);
    })
    
    //-----------------get ddegree-------------------//
    $.ajax({
        url: '@Url.Action("degree","teacher")',
        type: 'GET',
        dataType: 'JSON',
        success: function (data) {
            for (var i = 0; i < data.length; i++) {
                $("#txtdegree").append(new Option(data[i].cname, data[i].cid));
            }
        }
    })
    var id_degree;
    $('#txtdegree').change(function(){
        id_degree=$('#txtdegree').val();
        //alert(id_degree);
    })
    //----------------get status ------------------------//
    $.ajax({
        url: '@Url.Action("status","teacher")',
        type: 'GET',
        dataType: 'JSON',
        success: function (data) {
            for (var i = 0; i < data.length; i++) {
                $("#txtstatus").append(new Option(data[i].cname, data[i].cid));
            }
        }
    })
    var id_status;
    $('#txtstatus').change(function () {
        id_status = $('#txtstatus').val();
        //alert(id_status);
    })
    //-------------------get major---------------------------//
    $.ajax({
        url: '@Url.Action("major","teacher")',
        type: 'GET',
        dataType: 'JSON',
        success: function (data) {
            for (var i = 0; i < data.length; i++) {
                $("#txtmajor").append(new Option(data[i].cname, data[i].cid));
            }
        }
    });
    var id_major;
    $('#txtmajor').change(function () {
        id_major = $('#txtmajor').val();
        //alert(id_major);
    })

});
    /*  */
    //----------get valuse all teacher---------------------//
    function loadData(){
          $.ajax({
            url: '@Url.Action("getDataTeacher","teacher")',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                console.log(data[0]);
                console.log(data[1].errCode);
                console.log(data);
                if(data[1].errCode<0)
                {
                    //false
                    swal("Error..!",data[1].errMessage,"error");
                }
                else
                {
                    //true
                    obj_list_teacher = [];
                    obj_list_teacher = data[0];
                    datatable.clear();
                    datatable.rows.add(obj_list_teacher);
                    datatable.draw();
                }
            }
        })
    }
    function deleted(id){
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    //alert('click'); 
                    $.ajax({
                        url:'@Url.Action("DeleteTeacher","teacher")',
                        type:'POST',
                        dataType:'JSON',
                        data:{pid : id},
                        success:function(data){
                            if(data.errCode==1)
                            {
                                swal("Deleted..!",data.errMessage,"your data was deleted successed");
                                loadData();//call function load data if successed
                            }
                            else
                            {
                                swal("Error...!",data.errMessage,"error");
                            }
                        }
                    });
                }else {
                    swal("Your imaginary file is safe!");
                }
        });
}
</script>



