@{
    ViewData["Title"]="View Familise";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

            <section class="bg-white m-4">
                <form class="needs-validation form-custom p-5" novalidate>
                   <div class="row">
                       <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Teacher</label>
                            <select name="" id="txtpid" class="form-control" required>
                                <option value="" selected disabled>--select teacher name--</option>
                            </select>
                            <div class="valid-feedback">valid</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                            <div class="form-group">
                                <label for="">family name khmer</label>
                                <input id="txtfamkh" type="text" class="form-control" placeholder="enter family name khmer" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">family name enlish</label>
                                <input id="txtfamen" type="text" class="form-control" placeholder="enter family name english" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            
                            <div class="form-group">
                                <label for="">Family Cotact</label>
                                <input id="txtcontact" type="text" class="form-control" placeholder="enter family Contact" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            
                       </div>   
                       <!---------------------------------------------------------------------------->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">Occupation</label>
                                <select name="" id="txtoccu" class="form-control" required>
                                   <option value="" selected disabled>--select Occupation--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">children number</label>
                                <input id="txtchi_num" type="number" class="form-control" placeholder="enter children number" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <img src="" alt="">
                                <label for="">son number</label>
                                <input id="txtson" type="number" class="form-control" placeholder="enter son number" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            
                            <div class="form-group">
                                <label for="">douther number</label>
                                <input id="txtdouther" type="number" class="form-control" placeholder="enter douther number" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            
                       </div>   
                    <button type="button" class="btn btn-danger ml-auto" onclick=" clearText();">clear</button>
                    <button type="submit" class="btn btn-primary mx-3">Save</button>
                   </div>
                   
                </form>
            </section>

       <div class="container p-30">
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <div class="row d-flex">
                        <div class="text-list"><h3>List of families</h3></div>
                        <div class="col-sm-8 add_flex">
                            <div class="form-group searchinput">
                                <label for="email">Search</label>
                                <input type="search" class="form-control" id="filterbox" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overflow-x">
                    <table style="width: 100%;" id="filtertable" class="table nowrap table-bordered cust-datatable datatable no-footer">
                        <thead>
                            <tr>
                                <th style="min-width: 50px;">Action</th>
                                <th style="min-width: 50px;">Teacher</th>
                                <th style="min-width: 50px;">khmer name</th>
                                <th style="min-width: 50px;">english name</th>
                                <th style="min-width: 50px;">Contact</th>
                                <th style="min-width: 50px;">Occupation</th>
                                <th style="min-width: 50px;">Child number</th>
                                <th style="min-width: 50px;">Son number</th>
                                <th style="min-width: 50px;">douther number</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--pop--------------------------------->
    <div class="modal fade" id="ismodal">
        <div class="modal-dialog">
            <div class="modal-content pb-3">
                <div class="modal-header">
                    <h3>Update Teacher information</h3>
                    <button class="btn btn-danger btn-sm" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                <form class="needs-validation form-custom" novalidate>
                   <div class="row">
                       <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Teacher</label>
                            <select name="" id="txtupid" class="form-control" required>
                                <option value="" selected disabled>--select teacher name--</option>
                            </select>
                            <div class="valid-feedback">valid</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                            <div class="form-group">
                                <label for="">family name khmer</label>
                                <input id="txtufamkh" type="text" class="form-control" placeholder="enter family name khmer" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">family name enlish</label>
                                <input id="txtufamen" type="text" class="form-control" placeholder="enter family name english" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            
                            <div class="form-group">
                                <label for="">Family Cotact</label>
                                <input id="txtucontact" type="text" class="form-control" placeholder="enter family Contact" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            
                       </div>   
                       <!---------------------------------------------------------------------------->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">Occupation</label>
                                <select name="" id="txtuoccu" class="form-control" required>
                                    <option value="" selected disabled>--select Occupation--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">children number</label>
                                <input id="txtuchi_num" type="number" class="form-control" placeholder="enter children number" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <img src="" alt="">
                                <label for="">son number</label>
                                <input id="txtuson" type="number" class="form-control" placeholder="enter son number" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            
                            <div class="form-group">
                                <label for="">douther number</label>
                                <input id="txtudouther" type="number" class="form-control" placeholder="enter douther number" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <button type="button" class="btn btn-danger ml-auto" id="btnclear">clear</button>
                            <button type="submit" class="btn btn-primary mx-3">Save</button>
                            
                       </div>   
                   
                   </div>
                   
                </form>
                </div>
            
            </div>
        </div>
    </div>


<script>
var datatable;
var List_obj = [];
var pid = 0;
$(document).ready(function () {
    //=-=- declear variable-------------------.//
    var teacher_id;
    var occId;
    
    //=-=- declear variable end-------------------.//
    datatable = $('#filtertable').DataTable({
        data: List_obj,
        columns:
            [
                { 
                    data: 'famid', autoWidth: true,
                    'render':function(data)
                    {
                        return '<button type="button" class="btn btn-outline-danger btn-sm" onclick=deleted(' + data +')> <i class="fas fa-trash"></i></button> <button type="button" class="btn btn-outline-primary btn-sm" onclick=Edit('+data+') data-toggle="modal" data-target="#ismodal"> <i class="fas fa-edit"></i></button>';
                    } 
                },
                { data: 'pname', autoWidth: true },
                { data: 'fnamekh', autoWidth: true },
                { data: 'fnameEn', autoWidth: true },
                { data: 'contact', autoWidth: true },
                { data: 'ocname', autoWidth: true },
                { data: 'childNum', autoWidth: true },
                { data: 'sonNum', autoWidth: true },
                { data: 'doutNum', autoWidth: true }
            ],
        'dom':'<"top">ct<"top"p><"clear">'
    });

     $('#filterbox').keyup(function(){
         datatable.search(this.value).draw();  
    })
    var forms = document.getElementsByClassName('needs-validation');
     var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
            }
            else {
                event.preventDefault();
                var obj_fam={};
                obj_fam.pid=$('#txtpid').val();
                obj_fam.fnamekh=$('#txtfamkh').val();
                obj_fam.fnameEn=$('#txtfamen').val();
                obj_fam.contact=$('#txtcontact').val();
                obj_fam.occId=$('#txtoccu').val();
                obj_fam.childNum=$('#txtchi_num').val();
                obj_fam.sonNum=$('#txtson').val();
                obj_fam.doutNum=$('#txtdouther').val();
                //update
                var u_obj={};
                u_obj.famid=pid;
                u_obj.pid=$('#txtupid').val();
                u_obj.fnamekh=$('#txtufamkh').val();
                u_obj.fnameEn=$('#txtufamen').val();
                u_obj.contact=$('#txtucontact').val();
                u_obj.occId=$('#txtuoccu').val();
                u_obj.childNum=$('#txtuchi_num').val();
                u_obj.sonNum=$('#txtuson').val();
                u_obj.doutNum=$('#txtudouther').val();
                if (pid == 0 && obj_fam.fnamekh!="") {
                    //insert 
                    $.ajax({
                        url: '@Url.Action("postFamily","famillies")',
                        type: 'POST',
                        dataType: 'JSON',
                        data: { get_obj: obj_fam },
                        success: function (data) {
                            if (data.errCode == 1)
                            {
                                swal("sucessed!",data.errMessage +'Thank you..!',"success");
                                display_all_record();
                            }
                            else swal("Error..!",data.errMessage, "error");

                        }
                    })

                }
                else if(pid>0){
                    //update
                   // swal("Update..!", 'record has been updated' + pid,"success");
                    $.ajax({
                        url: '@Url.Action("UpdateFamilies","famillies")',
                        type: 'POST',
                        dataType: 'JSON',
                        data: { get_obj : u_obj },
                        success: function (data) {
                            if (data.errCode == 1)
                            {
                                display_all_record();
                                $('.modal').modal('hide');
                                swal("sucessed!", data.errMessage + 'Thank you..!', "success");
                                clearText();
                            }
                            else
                                {
                                    swal("Error..!",data.errMessage, "error");
                                }

                            }
                        })
                        
                    //////----------//
                   
                    pid = 0;   
                }
                else{
                    swal("Error..!", 'please seleect record to update', "error");
                }
            }
            form.classList.add('was-validated');
        }, false);
    });
    //clear 
    $(document).on('click','#btnclear',function(){
        clearText();
        pid=0;
    })
    //---get value from data to show on combobox
    getTeacher("txtpid");
    getTeacher("txtupid");
    get_occupation("txtoccu");
    get_occupation("txtuoccu");
    display_all_record();
   //GetTeacherValue","famillies
   

})
function getTeacher(text){
    $.ajax({
        url: '@Url.Action("GetTeacherValue","famillies")',
        type: 'post',
        dataType: 'json',
        success: function (data) {
            //console.log(data.ls_errMsg[0].errCode);
            //console.log(data.ls_errMsg);
            ///console.log(data.ls_com);
            if(data.ls_errMsg[0].errCode<0)
            {
                //alert(data.ls_errMsg[0].errMessage);
                swal("Error..!",data.ls_errMsg[0].errMessage,"error");
            }
            else
            {
                for (var i = 0; i < data.ls_com.length; i++) {
                    $('#'+text+'').append(new Option(data.ls_com[i].cname, data.ls_com[i].cid));
                }
            }
        }
    })
}

function get_occupation(text)
{
    
    $.ajax({
        url:'@Url.Action("GetOccupation","famillies")',
        type:'POST',
        dataType:'JSON',
        success:function(data)
        {
            if(data.ls_errMsg[0].errCode<0)
            {
                swal('Error...!',data.ls_errMsg[0].errMessage,'error');
            }
            else
            {
                for(var i=0;i<data.ls_com.length;i++)
                {
                    $('#'+text+'').append(new Option(data.ls_com[i].cname,data.ls_com[i].cid));
                }
            }
        }
    })
}
function display_all_record()
{
    $.ajax({
        url:'@Url.Action("display_record","famillies")',
        type:'get',
        dataType:'json',
        success:function(data)
        {
            List_obj=[];
            List_obj=data[0];
            datatable.clear();
            datatable.rows.add(List_obj);
            datatable.draw();
            //console.log(data[0]);
        }
    })
}
//edit function
function Edit(id) {
        //alert(id);
    clearText();
    pid=id;
    $.ajax({
        url:'@Url.Action("getRecord","famillies")',
        type: 'POST',
        dataType: 'JSON',
        data: { get_id: id },
        success: function (data) {
            //console.log(data);
            $('#txtupid').val(data.pid);
            $('#txtufamkh').val(data.fnamekh);
            $('#txtufamen').val(data.fnameEn);
            $('#txtucontact').val(data.contact);
            $('#txtuoccu').val(data.occId);
            $('#txtuchi_num').val(data.childNum);
            $('#txtuson').val(data.sonNum);
            $('#txtudouther').val(data.doutNum);
        }
    })
}
//delete function
function deleted(id)
{
    swal({
        title:'Are you sure..?',
        text:'Once deleted, you will not be able to recover this imaginary file!',
        icon:'warning',
        buttons:true,
        dangerMode:true,
    })
    .then((willdelete) => {
        if(willdelete)
        {
            $.ajax({
                   url:'@Url.Action("deleteFamilise","famillies")',
                   type:'POST',
                   dataType:'JSON',
                   data:{ famId : id},
                   success:function(data)
                   {
                       if(data.errCode==1)
                       {
                           swal('Deleted,Thank your', data.errMessage, 'success');
                           display_all_record();
                       }
                       else
                       {
                           swal('Error..!', data.errMessage, 'error');
                       }
                   }
               })
            
        }
        else{swal('Your imaginary file is safe!');}
    }) 
}

</script>