﻿@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unversity of Heng Samrin Thboung Khmum</title>
    <link rel="stylesheet" href="~/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style-login.css" />
</head>
<body>
    <section class="section-form-login">
        <div class="form-login">
            <form class="form-body needs-validation" novalidate>
                <div class="img-user">
                    <img src="~/img/company-business.jpg" alt="" width="100%" height="100%">
                </div>
                <div class="title">
                    <h3>Log <span>In</span></h3>
                 </div>
                <div class="input-custom">
                    <div class="form-group-custom">
                        <div class="input-icon">
                            <i class="far fa-user"></i>
                            <input id="txtusername" class="form-control" type="text" placeholder="username" required>
                            <div class="valid-feedback">valid</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                    </div>
                    <div class="form-group-custom">
                        <div class="input-icon">
                            <i class="fas fa-lock"></i>
                            <div class="form-group">
                                <input id="txtpassword" class="form-control​​​" type="text" placeholder="password" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group-custom">
                        <div class="form-btn-cutom">
                            <button class="effect"></button>
                            <button type="reset" class="btn-custom">Reset</button>
                           
                        </div>
                        <div class="form-btn-cutom">
                            <button class="effect"></button>
                            <button type="submit" class="btn-custom">Login</button>
                        </div>
                    </div>
                </div>
                <p>I dont have account <a href="#" class="text-cr-acc">create account</a></p>
            </form>
        </div>
    </section>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/sweetAlert/sweetalert.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function(){
        Login();
    });
    //function created
    function Login()
    {
        var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                //alert('false');
                swal('Warning','Please fill out this field. ','warning');
            }
            else {
                event.preventDefault();
                //alert('true');
                var username=$('#txtusername').val();
                var password=$('#txtpassword').val();
                $.ajax({
                    url:'@Url.Action("LoinAdmin","Home")',
                    type:'POST',
                    dataType:'JSON',
                    data:{_user:username,_pass:password},
                    success:function(data)
                    {
                        if(data.errCode==1)
                        {
                            //true
                            swal("Loing Success", "Congratulation you logined successfully,Thank you..!", "success", {
                                //content: "input",
                            })
                            .then(() => {
                                ///if we want to get value
                                window.location.replace('@Url.Action("dashboad","Home")');
                            });
                        }
                        else if(data.errCode==404)
                        {
                            //false
                            swal("Warning..!", "Sorry your password or username invalid.", "warning");
                        }
                        else
                        {
                            //error
                            swal("Error..!",data.errMessage, "error");
                        }
                    }
                })
            }
            form.classList.add('was-validated');
        }, false);
    });
    }
    
</script>