*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
.section-form-login{
    display: block;
    min-height: 100vh;
    width: 100%;
    background-image: url(https://localhost:5001/img/company-business.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-login{
    min-width: 550px;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.img-user{
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;
    border-radius: 50%;
    border: 5px solid #fff;
    overflow: hidden;
    object-fit:cover;
}
.title{
    text-align: center;
    margin: 10px;
}
.title h3{
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}
.title span{
    color: yellow;
}
.input-custom{
    width: 80%;
    margin: auto;
    position: relative;
}
.form-group-custom{
    margin: 20px;
    position: relative;
}
.form-group-custom .form-control{
    outline: none;
    background-color: transparent;
    color: #fff;
}
.input-icon{
    position: relative;
}
.input-icon input{
    width: 100%;
    padding: 8px 30px ;
    border: none;
    border-bottom: 1px solid rgb(211, 211, 205);
    background-color: transparent;
    font-size: 18px;
    color: #fff;
}
.input-icon input::placeholder{
    color: rgb(7, 6, 6);
    font-size: 17px;
}
.input-icon i{
    position: absolute;
    top: 30%;
    color: honeydew;
}
.btn-group-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}
.btn-group-custom .form-btn-cutom{
    padding: 7px 30px;
    display:inline-block;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}
.btn-group-custom .form-btn-cutom:nth-child(1){
     border: 1px solid red;
}
.btn-group-custom .form-btn-cutom:nth-child(2){
    border: 1px solid blue;
}
.form-btn-cutom .btn-custom{
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    z-index: 22;
    cursor: pointer;
}

.form-btn-cutom .effect::before{
    height: 100%;
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
}
.form-btn-cutom:hover .effect::before{
    left: 0;
    opacity: 1;
    transition: .5s ease-in-out;
    z-index: -1;
}
.form-btn-cutom:nth-child(1):hover .effect::before{
    background:linear-gradient(45deg,rgb(240, 157, 175),red);
}
.form-btn-cutom:nth-child(2):hover .effect::before{
    background: linear-gradient(45deg,rgb(135, 135, 240),blue);
}
.section-form-login p{
    text-align: center;
    padding-top: 25px;
    font-size: 18px;
    font-weight: 500;
    color: lightsteelblue;
}
.section-form-login .text-cr-acc{
    
    font-size: 18;
    font-weight: 600;
}
.section-form-login .text-cr-acc:hover{
    color: mediumblue;
}