@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    overflow-x: hidden;
}
.btn-outline-danger i{
    color: red;
}
.btn-outline-primary i{
    color: blue;
}
.btn-outline-danger:hover i,
.btn-outline-primary:hover i{
    color: white;
}
.btn-outline-primary span{
    color: blue;
}
.btn-outline-primary:hover span{
    color: #fff;
}
.navigation{
    position: fixed;
    width: 260px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
}
.navigation.active{
    width: 60px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li .w-icon
{
    font-size: 30px;
    line-height: 60px;
}
.navigation ul li:hover{
    background: #03a9f4;
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 20px;
    margin-top: 10px;
}
.navigation ul li:nth-child(1)
{
    background: transparent;
    cursor: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    color: #fff;
    display: flex;
    text-decoration: none;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon i{
    color: #fff;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.navigation ul li a .title h2{
    padding-top: 12px;
}
.main{
    position: absolute;
    width: calc(100% - 260px);
    left: 260px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 60px);
    left: 60px;
}
.main .topbar{
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.toggle i{
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #000;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    width: 100%;
    position: relative;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: none;
    padding-left: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.search label i{
    position: absolute;
    left: 15px;
    top: 10px;
}
.user{
    background-image: url(https://localhost:5001/img/logo-UHST.png);
    background-position: center;
    background-size: cover;
    position: relative;
    min-width: 40px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.t-img{
    width: 130px;
    height: 130px;
}
.label-uplod-img{
    padding: 4px 19px;
    color: #000;
}
.t-img img{
    width: 100%;
    height: 100%;
}
.cardbox{
    width: 100%;
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.cardbox .card{
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    cursor: pointer;
}
.cardbox .card .numbers{
    font-size: 2em;
    position: relative;
    font-weight: 500;
}
.cardbox .card .cardName{
    color: #999;
}
.cardbox .card .iconBox{
    font-size: 2.5em;
    color: #03a9f4;
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0px;
    grid-gap: 20px;
}
.details .recentOrders{

    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}
.cardHeader h2{
    font-weight: 600;
    font-size: 24px;
}
.btn{
    position: relative;
    padding: 5px  10px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

/*cover dashboad*/
.section_dashboad{
    min-height: 88vh;
    background-image: url(https://localhost:5001/img/usht2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: none;
}

@media (max-width:992px){
    .navigation{
        left: -260px;
    }
    .navigation.active{
        left: 0px;
        width: 260px;
    }
    .main{
        width: 100%;
        left: 0px;
    }
    .main.active {
        width: calc(100% - 260px);
        left: 260px;
    }
    .cardbox {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:768px)
{
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2 {

        font-size: 18px;

    }
    
}
@media (max-width:480px)
{
    .cardbox {
        grid-template-columns: repeat(1,1fr);
    }
    .details .recentOrders{
        overflow-x: auto;
    }
    .details .recentOrders table{
        width: 600px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0; 
    }
    .toggle.active{
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;
    }
    .toggle.active i::before{
        color: #fff;
    }
    .main,
    .main.active{
        width: 100%;
        left: 0;
    }
}