@{
    ViewData["Title"] = "View Addressing";
}
<div class="modal fade" id="ismodal">
    <div class="modal-dialog">
        <div class="modal-content pb-3">
            <div class="modal-header">
                <h4>Add new user</h4>
                <button class="btn btn-danger btn-sm" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <form class="needs-validation form-custom" novalidate>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">Teacher</label>
                                <select name="" id="txtteacher" class="form-control" required>
                                    <option value="" selected disabled>--select teacher name--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">home number</label>
                                <input id="txthomenumber" type="text" class="form-control"
                                    placeholder="enter home number " required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">street number</label>
                                <input id="txtstreet" type="text" class="form-control" placeholder="enter street number"
                                    required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <label for="">Province</label>
                                <select name="" id="txtprovince" class="form-control" required>
                                    <option value="" selected disabled>--select Province --</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                        </div>
                        <!---------------------------------------------------------------------------->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">district</label>
                                <select name="" id="txtdistrict" class="form-control" required>
                                    <option value="" selected disabled>--select district--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">communue</label>
                                <select name="" id="txtcom" class="form-control" required>
                                    <option value="" selected disabled>--select communue--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">villages</label>
                                <select name="" id="txtvillage" class="form-control" required>
                                    <option value="" selected disabled>--select villages--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="modal-footer mt-5">
                                <button type="button" class="btn btn-danger ml-auto" id="btnclear">clear</button>
                                <button type="submit" class="btn btn-primary mx-3">Save</button>
                            </div>

                        </div>

                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<!-------update-------->
<div class="modal fade" id="ismodal-update">
    <div class="modal-dialog">
        <div class="modal-content pb-3">
            <div class="modal-header">
                <h4>Update user</h4>
                <button class="btn btn-danger btn-sm" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <form class="needs-validation form-custom" novalidate>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">Teacher</label>
                                <select name="" id="txtuteacher" class="form-control" required>
                                    <option value="" selected disabled>--select teacher name--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">home number</label>
                                <input id="txtuhomenumber" type="text" class="form-control"
                                    placeholder="enter home number " required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">street number</label>
                                <input id="txtustreet" type="text" class="form-control"
                                    placeholder="enter street number" required>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <label for="">Province</label>
                                <select name="" id="txtuprovince" class="form-control" required>
                                    <option value="" selected disabled>--select Province --</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                        </div>
                        <!---------------------------------------------------------------------------->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">district</label>
                                <select name="" id="txtudistrict" class="form-control" required>
                                    <option value="" selected disabled>--select district--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">communue</label>
                                <select name="" id="txtucom" class="form-control" required>
                                    <option value="" selected disabled>--select communue--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group">
                                <label for="">villages</label>
                                <select name="" id="txtuvillage" class="form-control" required>
                                    <option value="" selected disabled>--select villages--</option>
                                </select>
                                <div class="valid-feedback">valid</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="modal-footer mt-5">
                                <button type="button" class="btn btn-danger ml-auto" onclick="clearText()">clear</button>
                                <button type="submit" class="btn btn-primary mx-3">Save</button>
                            </div>

                        </div>

                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<div class="container p-30">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <div class="text-list">
                        <h4>List of Addressing</h4>
                    </div>
                    <div class="col-sm-8 add_flex">
                        <div class="form-group searchinput">
                            <label for="email">Search</label>
                            <input type="search" class="form-control" id="filterbox" placeholder="">
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary btn-bram" id="btnAddNew" data-toggle="modal"
                        data-target="#ismodal"><span>Add New</span></button>
                </div>
            </div>
            <div class="overflow-x">
                <table style="width: 100%;" id="filtertable" class="table cust-datatable datatable no-footer">
                    <thead>
                        <tr>
                            <th style="min-width: 50px;">Action</th>
                            <th style="min-width: 50px;">Teacheer</th>
                            <th style="min-width: 50px;">Home Number</th>
                            <th style="min-width: 50px;">Street</th>
                            <th style="min-width: 50px;">Province</th>
                            <th style="min-width: 50px;">District</th>
                            <th style="min-width: 50px;">Commnue</th>
                            <th style="min-width: 50px;">Village</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var proid, dis_id, vilageid, datatable,_userid=0;
    var list_address = [];
    $(document).ready(function () {

        datatable = $('#filtertable').DataTable({
            'dom': '<"top">ct<"top"p><"clear">',
            data: list_address,
            columns:
                [
                    {
                        data: 'addId',
                        autoWidth: true,
                        'render': function (data) {
                            return '<button type="button" class="btn btn-outline-danger btn-sm" onclick=deleted(' + data + ')> <i class="fas fa-trash"></i></button> <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#ismodal-update" onclick=selectRow('+data+')> <i class="fas fa-edit"></i></button>';
                        }
                    },
                    { data: 'pname', autoWidth: true },
                    { data: 'homeNum', autoWidth: true },
                    { data: 'streetNum', autoWidth: true },
                    { data: 'proname', autoWidth: true },
                    { data: 'disname', autoWidth: true },
                    { data: 'cname', autoWidth: true },
                    { data: 'vname', autoWidth: true }
                ]
        });

        $('#filterbox').keyup(function () {
            datatable.search(this.value).draw();
        })

        combobox('#txtprovince');
        comboTeacher('#txtteacher');
        insert_user();
        update_user();
        display_user_data();
        //-----select change get id valuesa
        $('#txtduistrict').prop('disabled', true);
        $('#txtprovince').change(function () {
            proid = $('#txtprovince').val();
            $('#txtdistrict option').remove();
            combodisctrict('#txtdistrict');
        })

        $('#txtdistrict').change(function () {
            dis_id = $('#txtdistrict').val();
            $('#txtcom option').remove();
            combocommunue('#txtcom');
        })
        $('#txtcom').change(function () {
            vilageid = $('#txtcom').val();
            $('#txtvillage option').remove();
            comboVillage('#txtvillage');
        })

        //select to update 
        combobox('#txtuprovince');
        comboTeacher('#txtuteacher');
        //disbled--------------
        
        $('#txtuprovince').change(function () {
            proid = $('#txtuprovince').val();
            $('#txtudistrict option').remove();
            combodisctrict('#txtudistrict');
            $('#txtudistrict').prop('disabled', false);
        })
        $('#txtudistrict').change(function () {
            dis_id = $('#txtudistrict').val();
            $('#txtucom option').remove();
            combocommunue('#txtucom');
            $('#txtucom').prop('disabled', false);
        })
        $('#txtucom').change(function () {
            vilageid = $('#txtucom').val();
            $('#txtuvillage option').remove();
            comboVillage('#txtuvillage');
            $('#txtuvillage').prop('disabled', false);
        })
        $('#btnAddNew').click(function(){
            _userid=0;
        })
    })
    //--------------------------section function-------------------//
    function comboTeacher(txtid) {
        $.ajax({
            url: '@Url.Action("teacher","Addressing")',
            type: 'get',
            dataType: 'JSON',
            success: function (data) {
                for (var i = 0; i < data.length; i++)
                    $(txtid).append(new Option(data[i].cname, data[i].cid));
            }
        })
    }
    function combobox(txtid) {
        $.ajax({
            url: "@Url.Action("province","Addressing")",
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                for (var i = 0; i < data.length; i++)
                    $(txtid).append(new Option(data[i].cname, data[i].cid))
            } 
        })
    }
    function combodisctrict(txtid) {
        $.ajax({
            url: '@Url.Action("district","Addressing")',
            type: 'get',
            dataType: 'JSON',
            data: { _getid: proid },
            success: function (data) {
                for (var i = 0; i < data.length; i++)
                    $(txtid).append(new Option(data[i].cname, data[i].cid));
            }
        })
    }
    function combocommunue(txtid) {
        $.ajax({
            url: '@Url.Action("communue","Addressing")',
            type: 'get',
            dataType: 'JSON',
            data: { _getid: dis_id },
            success: function (data) {
                for (var i = 0; i < data.length; i++)
                    $(txtid).append(new Option(data[i].cname, data[i].cid));
            }
        })
    }
    function comboVillage(txtid) {
        $.ajax({
            url: '@Url.Action("Village","Addressing")',
            type: 'get',
            dataType: 'JSON',
            data: { _getid: vilageid },
            success: function (data) {
                for (var i = 0; i < data.length; i++)
                    $(txtid).append(new Option(data[i].cname, data[i].cid));
            }
        })
    }

    //update-------------------------------------------------
    function ucombodisctrict(txtid) {
        $.ajax({
            url: '@Url.Action("udistrict","Addressing")',
            type: 'get',
            dataType: 'JSON',
            success: function (data) {
                for (var i = 0; i < data.length; i++)
                    $(txtid).append(new Option(data[i].cname, data[i].cid));
            }
        })
    }
    function ucombocommunue(txtid) {
        $.ajax({
            url: '@Url.Action("ucommunue","Addressing")',
            type: 'get',
            dataType: 'JSON',
            success: function (data) {
                for (var i = 0; i < data.length; i++)
                    $(txtid).append(new Option(data[i].cname, data[i].cid));
            }
        })
    }
    function ucomboVillage(txtid) {
        $.ajax({
            url: '@Url.Action("uVillage","Addressing")',
            type: 'get',
            dataType: 'JSON',
            success: function (data) {
                for (var i = 0; i < data.length; i++)
                    $(txtid).append(new Option(data[i].cname, data[i].cid));
            }
        })
    }


    function insert_user() {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                }
                else {
                    event.preventDefault();
                    var obj_user = {};
                    obj_user.pid = $('#txtteacher').val();
                    obj_user.homeNum = $('#txthomenumber').val();
                    obj_user.streetNum = $('#txtstreet').val();
                    obj_user.proId = $('#txtprovince').val();
                    obj_user.disId = $('#txtdistrict').val();
                    obj_user.comId = $('#txtcom').val();
                    obj_user.vilageId = $('#txtvillage').val();
                    if(_userid==0)
                    {
                        $.ajax({
                            url: '@Url.Action("Insert_user","Addressing")',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { get_obj: obj_user },
                            success: function (data) {
                                if (data.errCode < 0) {
                                    swal("Error", data.errMessage, "error");
                                }
                                else {
                                    $('.modal').modal('hide');
                                    swal("Saved", "The one record has been saved to database", "success");
                                    display_user_data();

                                }
                            }
                        })
                    }
                }
                form.classList.add('was-validated');
            }, false);
        });
    }
    function update_user() {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                }
                else {
                    event.preventDefault();
                    var uobj_user = {};
                    uobj_user.addId=_userid;
                    uobj_user.pid = $('#txtuteacher').val();
                    uobj_user.homeNum = $('#txtuhomenumber').val();
                    uobj_user.streetNum = $('#txtustreet').val();
                    uobj_user.proId = $('#txtuprovince').val();
                    uobj_user.disId = $('#txtudistrict').val();
                    uobj_user.comId = $('#txtucom').val();
                    uobj_user.vilageId = $('#txtuvillage').val();
                    if(_userid!=0)
                    {
                        $.ajax({
                            url:'@Url.Action("Update_user","Addressing")',
                            type:'post',
                            dataType:'json',
                            data:{get_objs:uobj_user},
                            success:function(data)
                            {
                                if (data.errCode < 0) {
                                    swal("Error", data.errMessage, "error");
                                }
                                else {
                                    $('.modal').modal('hide');
                                    display_user_data();
                                    swal("Updated", "The one record has been updated", "success");
                                    _userid=0;
                                }
                            }
                        })
                    }
                    else{
                        swal('Warning..!',"Please select row to update",'warning');
                    }
                }
                form.classList.add('was-validated');
            }, false);
        });
    }
    //call data 
    function display_user_data() {
        $.ajax({
            url: '@Url.Action("display_address","Addressing")',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                //console.log(data[1][0].errCode);
                if (data[1][0].errCode < 0) {
                    swal("Error...!", data[1][0].errMessage, "error");
                }
                else {
                    list_address = [];
                    list_address = data[0];
                    datatable.clear();
                    datatable.rows.add(list_address);
                    datatable.draw();
                }
            }
        })
    }
//select row
    function selectRow(userid)
    {
        //alert(userid);
        _userid = userid;
        $.ajax({
            url:'@Url.Action("GetRowUser","Addressing")',
            type:'POST',
            dataType:'JSON',
            data:{ _getuserid : userid},
            success:function(data)
            {
                //console.log(data);
                $('#txtuteacher').val(data[0].pid);
                $('#txtuhomenumber').val(data[0].homeNum);
                $('#txtustreet').val(data[0].streetNum);
                $('#txtuprovince').val(data[0].proId);
                $('#txtudistrict').val(data[0].disId);
                $('#txtucom').val(data[0].comId);
                $('#txtuvillage').val(data[0].vilageId);
            }
        })
        $('#txtudistrict').prop('disabled', true);
        $('#txtucom').prop('disabled', true);
        $('#txtuvillage').prop('disabled', true);
        ucombodisctrict('#txtudistrict');
        ucomboVillage('#txtuvillage')
        ucombocommunue('#txtucom');
    }
    //delete row---------------------------------------
    function deleted(userid)
    {
        swal({
            title:'Are you sure..?',
            text:'Once deleted, you will not be able to recover this imaginary file!',
            icon:'warning',
            buttons:true,

        })
        .then((willdelete)=>{
            if(willdelete)
            {
                $.ajax({
                    url: '@Url.Action("deleteUser","Addressing")',
                    type: 'POST',
                    datatable: 'JSON',
                    data: { getuserId: userid },
                    success: function (data) {
                        if (data.errCode < 0) {
                            swal('Error..!', data.errMessage, 'error');
                        }
                        else {
                            swal('Deleted..!','The one record has been deleted..!', 'success');
                            display_user_data();
                        }
                    }
                })
            }
            else
            {
                swal('Your imaginary file is safe!'); 
            }
        })
        
    }
</script>
